{{define "base"}}

<!doctype html>

<html lang='en'>

<head>
<meta charset='utf-8'>
<title>{{template "title" .}} - AITU News</title>

<link rel='stylesheet' href='/static/css/main.css'>
<link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>

<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
</head>

<body>

<header>
<h1><a href='/'>НОВОСТИ AITU - {{template "title" .}}</a></h1>
</header>

<nav>
<a href='/'>Главная страница</a>
<a href='/students_path'>Студентам</a>
<a href='/staff_path'>Персоналу</a>
<a href='/applicants_path'>Абитуриентам</a>
<a href='/researchers_path'>Научные статьи</a>
<a href='/add_article'>Добавить</a>
<a href='/add_meal'>Добавить блюдо</a>
<a href='/login'>Вход</a>
<a href='/register'>Регистрация</a>
</nav>

<main>
{{template "main" .}}
</main>

{{template "footer" .}}

<script src="/static/js/main.js" type="text/javascript"></script>
</body>

</html>

{{end}}
